.search-bar {
    padding-bottom: 15px;
}

.genre-dropdown {
    margin-bottom: 15px;
    width: 50px;
}

.genre-dropdown-container{
    width: 260px;
}

.search-elements {
    margin-left: 15px;
}

.modal-btn {
    margin-left: 20px;
}


.festival-grid-outer-div {
    width: 2000px;
}



.fstvl-website-link{
    width: 10px;
}

.festival-card{
    padding-bottom: 15px;
}

.search-fest-container{
    padding: 30px;
}